.container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;           
    margin: 0;               
}

.product-card {
    background: linear-gradient(to right, rgb(29, 15, 6), rgb(88, 37, 17));
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.img {
    height: 300px; 
    display: flex;
    margin-bottom: 10px;
}

.img img {
    height: 100%; 
    width: 300px; 
    border-radius: 5%;
    border: 4px solid rgb(41,19,8);
}

.product-details {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -300px;
    margin-left: 300px;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-category {
    font-size: 20px;
    color: #b46868;
    margin-bottom: 10px;
    font-weight: bolder;
}

.product-details p {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
}



.product-price {
    font-size: 25px;
    font-weight: bold;
    color: white;

}

