.card-img-actions {
    height: 250px; /* Set a fixed height for the image container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide any overflowed part of the image */
}

.card-img {
    height: 100%;
    width: auto; /* Ensure the image maintains its aspect ratio */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.card {
    height: 100%; /* Ensures all cards have the same height */
}

.card-body {
    background: linear-gradient(to right, rgb(29, 15, 6), rgb(88, 37, 17));
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categoryName {
    color: rgb(0, 0, 0);
    margin-top: 10px;
    background-color: rgb(204, 184, 0);
    width: 100px;
    height: 25px;
    text-align: center;
    
}

.btn {
    background: linear-gradient(to right, rgb(252,132,46), rgb(114,53,31));
    color: white;
}
