<div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-12 position-relative">
        <img src="https://png.pngtree.com/thumb_back/fh260/background/20230718/pngtree-digital-retailing-illustration-laptop-keyboard-with-shopping-basket-and-e-commerce-image_3903657.jpg" 
             alt="Landing Image" class="img-fluid w-100" style="height:98vh; object-fit: cover;">
  
        <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
          <h3 class="mb-3">Welcome To</h3>
          <h1 class="display-3 font-weight-bold mb-4">Products For You</h1>
          <button class="btn btn-warning btn-lg">Show Products</button>
        </div>
      </div>
    </div>
  </div>
  